<p>This is the edit page.</p>


<p>This is the relationship <%=@r[:id]%></p>

<p>This is the contact <%=@c[:id]%></p>

<p>And this is what the contact relationship looks like Id: <%= @cr[:id]%> Realtionship Purpose ID <%= @cr[:relationship_purpose_id] %> And Contact Id <%= @cr[:user_contact_id] %></p>

