<h1>Personal Relationship Manager</h1>

<div class="hero-unit">
<p>This app is designed to sort contacts by user-generated relationships.</p>
	<% if app_user_signed_in? == true %>
		<p>You're signed in! Welcome!</p>
		<p>From here, you'll need to decide whether to add contacts or check your relationships.</p>
		<p>You have <%= @contacts.count %> contacts loaded.  If you want more, get contacts.</p>
			<p><div class="btn"><%= link_to('Get Gmail Contacts', 'contacts/gmail') %></div></p>
		<p>If <%= @contacts.count %> contacts is enough, let's start looking at your relationships</p>
			<div class="btn"><%= link_to('Check out Relationships', 	relationship_purposes_path) %></div>
	<% else %>
		<p>First step is to get sign in:</p>
		<div class="btn">
    <%= link_to('Sign up', new_app_user_registration_path)  %>
		</div>
		<div class="btn">
    <%= link_to('Login', new_app_user_session_path)  %>
		</div>
	<% end %>
</div>