<%= form_for @relationship do |f| %>
  <div>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </div>
  <div>
  <%= f.label :description %>
  <%= f.text_area :description %>
  </div>
  <div>
  <%= f.label :priority %>
  <%= f.text_field :priority %>
  </div>
  <div>
  <%= f.check_box :ongoing %>
  <%= f.label :ongoing %> 
  </div>
  <%= f.hidden_field :app_user_id %>
  <%= f.submit "Add this", class: 'btn' %>
  <%= link_to 'Destroy', @relationship, method: :delete, class: 'btn', data: { confirm: 'Are you sure?' } %>
<% end %>