<h1><%= @relationship.name %></h1>

<p><%= @relationship.description %></p>

<div class="span5">
<p>This is people in the relationship.</p>
<table class="table">
		<tr>
		<th>Name</th>
		<th>First</th>
		<th>Last</th>
		<th>Email</th>
		</tr>
			<% @blah.each do |c|%>
				<tr>
				<td><%=c[:name]%></td>
				<td><%=c[:first_name]%></td>
				<td><%=c[:last_name]%></td>
				<td><%=c[:email]%></td>
				</tr>	
			<%end%>
</table>
</div>

<div class="span5">
<p>And this is everybody.</p>
<table class="table">
		<tr>
		<th>Name</th>
		<th>First</th>
		<th>Last</th>
		<th>Email</th>
		</tr>
			<% @contacts.each do |c|%>
				<tr>
				<td><%=c[:name]%></td>
				<td><%=c[:first_name]%></td>
				<td><%=c[:last_name]%></td>
				<td><%=c[:email]%></td>
				</tr>	
			<%end%>
</table>
</div>