<h1><%= @relationship.name %></h1>

<p><%= @relationship.description %></p>

<div class="span5">
<p>This is people in the relationship.</p>
<table class="table">
		<tr>
		<th>Name</th>
		<th>Email</th>
		</tr>
			<% @contactrelationship.each do |c|%>
				<tr>
				<td><%=c[:name]%></td>
				<td><%=c[:email]%></td>
				</tr>	
			<%end%>
</table>
</div>

<div class="span5">
<p>And this is everybody.</p>
<table class="table">
		<tr>
		<th></th>
		<th>Name</th>
		<th>Email</th>
		</tr>
			<% @contacts.each do |c|%>
				<tr>
				<td><%= link_to 'Add', edit_relationship_purpose_user_contact_path(@relationship, c[:id], ) %></td>
				<td><%=c[:name]%></td>
				<td><%=c[:email]%></td>
				</tr>	
			<%end%>
</table>
</div>